*{
    margin: 0;
    padding: 0;
}

/* section 1 */
.w-videoBruLee{
    background-image: url('./assets/image/f3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
    width: 100%;
}
.w-videoBruLee .w-videoFancys .images{
    padding-top: 5rem;
}
.w-videoBruLee .w-videoFancys .images .image-links .icon-play{
    left: 50%;
    transform: translateX(-50%);
}
.w-videoBruLee .image-left img{
    width: 85%;
}
.w-videoBruLee .image-right{
    text-align: right;
}
.w-videoBruLee .image-right img{
    width: 83%;
}
.w-videoBruLee .image-center{
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
}
.w-videoBruLee .image-center img{
    width: 90%;
}
@media (max-width:767px){
    .w-videoBruLee{
        padding: 5rem 0;
    }
    .w-videoBruLee .w-videoFancys .images{
        padding-top: 0;
    }
    .w-videoBruLee .image-center {
        top: -16%;
    }
}


/* section 2 */
.w-videoSect{
    background-image: url('./assets/image/f4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0;
    width: 100%;
}
.w-videoSect .w-videoFancySect .bg-video{
    bottom: -20px;
    right: -18px;
}
.w-videoSect .w-videoFancySect .video-sect{
    padding-top: 10rem;
}
.w-videoSect .w-videoFancySect .video-sect a{
    margin: 0 .1rem;
}
.w-videoSect .w-videoFancySect .video-sect a .icon-play{
    top: 50%;
    left: 41%;
    width: 18%;
    transform: translateY(-50%);
}
@media (max-width:767px){
    .w-videoSect .w-videoFancySect .video-sect{
        padding-top: 1rem;
    }
    .w-videoSect .w-videoFancySect .bg-video {
        bottom: -6px;
        right: -4px;
    }
}


/* section 3 */
.w-videoSystemSect .slide-content{
    height: 100vh;
    width: 100%;
}
.w-videoSystemSect .slide-content .list-items{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.w-videoSystemSect .slide-content .list-items .item {
    list-style: none;
    height: 100%;
    width: 100%;
}
.w-videoSystemSect .slide-content .list-items .item .system-sect .video{
    width: 100%;
    top: 30%;
    z-index: 1;
}
.w-videoSystemSect .slide-content .list-items .item .system-sect .video video{
    object-fit: cover;
    width: 100%;
    height: 33vw;   
}
.w-videoSystemSect .slide-content .list-items .item .system-sect .system-image{
    width: 74%;
    top: 9.5%;
    z-index: 5;
    right: 0;
}
.w-videoSystemSect .slide-content .list-items .item .system-sect .system-content{
    display: block;
    background-image: url('./assets/image/_sprites-f5-1.png');
    padding: 1rem;
    z-index: 9;
    width: 30vh;
    height: auto;
    margin-top: -4rem;
    right: 10%;
    top: 37%;
}
.w-videoSystemSect .slide-content .list-items .item .system-sect .system-content ul li{
    margin: 0 1rem;
}



/* fancy box */
.fancybox__slide{
    padding: 38px 80px;
}
.fancybox__carousel .fancybox__slide.has-video .fancybox__content{
    width: 100% !important;
}
@media (max-width:767px){
    .fancybox__nav .carousel__button.is-next,
    .fancybox__nav .carousel__button.is-prev{
        display: none;
    }
    .fancybox__slide{
        padding:38px 0;
    }
    .fancybox__carousel .fancybox__slide.has-video .fancybox__content{
        height: 100% !important;
    }
}